<div class="" style="margin: 32px 0;">
  <form action="/authenticate" method="POST" >
  <div class="field">
    <label class="label" for="email" style="color: rgb(128, 128, 128);">Email</label>
    <input class="input" id="email" type="text" placeholder="Enter email" name="email">
  </div>
  <div class="field">
    <label class="label" for="password" style="color: rgb(128, 128, 128);">Password</label>
    <input class="input" id="password" type="password" placeholder="Enter Password" name="password">
  </div>
  <div class="field is-grouped" style="margin: 32px 0; ">
    <button class="button is-link is-fullwidth" style="background-color: #5a7670;">Log in</button>
  </div>
</form>

</div>