<script>
</script>

<nav style="position: fixed; width: 100%; padding: 8px 80px; top: 0; left: 0; right: 0;" class="navbar box" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/favorite" style="display: flex; align-items:center;">
      <img src="https://res.cloudinary.com/placemark-image-gallery/image/upload/v1655935833/logo_gtiscx.png" width="72" style="padding: 6px; object-fit: cover;" alt="logo">
      <strong style="color: rgb(55, 55, 55); font-size:x-large;padding: 6px;">Travisor</strong>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      {{#if isFavorite}}
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-info is-rounded" href="/favorite/create">
                <strong>Add New Favorite</strong>
            </a>
        </div>
      </div>
      {{/if}}
      {{#if isDiscovery}}
      <div class="navbar-item">
        <div class="buttons">
            <a class="button is-info is-rounded" href="/discovery/create">
                <strong>New London Location</strong>
            </a>
        </div>
      </div>
      {{/if}}
      <div class="dropdown is-right is-hoverable" style="cursor:pointer;">
        <div class="dropdown-trigger" style="display: flex; align-items: center;">
          <figure class="image is-32x32" >
            <img src={{avatar}} class="image is-rounded is-32x32" alt="avatar" style="object-fit: cover;">
          </figure>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a href="/favorite" class="dropdown-item" style="padding-top: 8px; padding-bottom: 8px; font-size: 16px; color: rgb(20,20,20); font-weight:300;">
              Favorite
            </a>
            <a href="/discovery" class="dropdown-item" style="padding-top: 8px; padding-bottom: 8px; font-size: 16px; color: rgb(20,20,20); font-weight:300;">
              London Discovery
            </a>
            <hr class="dropdown-divider">
            <a href="/user" class="dropdown-item" style="padding-top: 8px; padding-bottom: 8px; font-size: 16px; color: rgb(20,20,20); font-weight:300;">
              My Account
            </a>
            <a href="/logout" class="dropdown-item" style="padding-top: 8px; padding-bottom: 8px; font-size: 16px; color: rgb(20,20,20); font-weight:300;">
              Logout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
