<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/">
      <img src={{img}} width="72" style="padding: 6px;">
      <strong class="brand-name">Travisor</strong>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <a class="button signup" href="/signup">
                <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/login">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<style>
  .navbar {
    position: fixed; 
    width: 100%; 
    padding: 8px 80px; 
    top: 0; 
    left: 0; 
    right: 0;
  }

  .navbar-brand a {
    display: flex; 
    align-items:center;
  }

  .brand-name {
    color: rgb(55, 55, 55); 
    font-size: x-large;
    padding: 6px;
  }

  .button.signup {
    background-color: #5a7670; 
    color: white;
  }
</style>