<article class="panel is-info" style="margin-top: 12px; padding-bottom: 8px;">
  <p class="panel-heading">Locations around you</p>
  <div class="control" style="margin: 12px 0 4px 20px;">
    <div class="select is-small is-rounded ">
      <!-- <select bind:value={selectedChoice}> -->
      <select >
          <option>Choose an option</option>
          <option>First</option>
          <option>Second</option>
          <option>Third</option>
      </select>
    </div>
  </div>
</article>
