<form action="/register" method="POST" style="margin: 32px 0;">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label 
          for="firstname" 
          class="label" 
          style="color: rgb(128, 128, 128);">First name</label>
        <input 
          class="input" 
          id="firstname" 
          type="text" 
          placeholder="Enter first name" 
          name="firstName">
      </div>
      <div class="field">
        <label 
          for="lastname" 
          class="label" 
          style="color: rgb(128, 128, 128);">Last name </label>
        <input 
          class="input" 
          id="lastname" 
          type="text" 
          placeholder="Enter last name" 
          name="lastName">
      </div>
    </div>
  </div>
  <div class="field">
    <label 
      for="email" 
      class="label" 
      style="color: rgb(128, 128, 128);">Email</label>
    <input 
      class="input" 
      id="email" 
      type="text" 
      placeholder="Enter email" 
      name="email">
  </div>
  <div class="field">
    <label 
      for="password" 
      class="label" 
      style="color: rgb(128, 128, 128);">Password</label>
    <input 
      class="input" 
      id="password"
      type="password" 
      placeholder="Enter Password" 
      name="password">
  </div>
  <div class="field">
    <button 
      class="button register is-link is-fullwidth">Register</button>
  </div>
</form>

<style>
  .button.register {
    margin: 32px 0; 
    background-color: #5a7670;
  }
</style>