<div class="columns is-vcentered">
  <div class="column">
    {{> MainNavigator avatar=user.avatar}}
  </div>
</div>

<div class="columns column-list">
  <div class="column is-4" style=" margin-top: 80px;">
    {{> AdminBoard}}
  </div>

  <div class="column is-8" style=" margin-top: 80px;">
    {{> AdminList }}
  </div>
</div>

<style>
  .column-list {
    margin-left: 64px;
    margin-right: 70px;
  }
</style>
