<div class="columns is-vcentered">
  <div class="column">
    {{> MainNavigator isDiscovery=true avatar=user.avatar}}
  </div>
</div>

<div class="columns column-list">
  <div class="column is-4 " style=" margin-top: 50px;">
    {{> DiscoveryList }}
  </div>
  <div class="column is-8 placeholder-img">
    <img src="https://www.nicepng.com/png/detail/39-393265_placeholder-of-your-feature-world-map.png" alt="Map Placeholder">
  </div>
</div>

<style>
  .column-list {
    margin-left: 64px;
    margin-right: 70px;
  }
  .placeholder-img {
    margin-top: 50px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
</style>
