<div class="columns is-vcentered">
  <div class="column">
    {{> MainNavigator logo="images/logo.png" isFavorite=true avatar=user.avatar}}
  </div>
</div>

<div class="columns" style="margin-left: 64px; margin-right: 70px;">
  <div class="column is-4 " style=" margin-top: 50px;">
    {{> FavoriteList }}
  </div>
</div>
