<!-- Modal HTML content(hidden by default) starts here -->
<div class="container">
  <div class="modal is-active" id="modal1" style="z-index: 101;">
    <a href="/user" class="modal-background" />
    <a href="/user">
      <i class="fas fa-times-circle" style="position: absolute; right: 474px; top: 280px; z-index: 101; color: rgba(255,255,255,0.6)"></i>
    </a>
    <form
      class="modal-card"
      action="/admin/remove/{{user._id}}"
      method="POST"
    >
      <header class="modal-card-head" style="background-color: #3e8ed0;">
        <p class="modal-card-title" style="font-weight: 500; color: #fff;">
          Remove user
        </p>
      </header>
      <div class="modal-card-body">
        <div class="">
          <p class="field">
            Travisor will remove "{{user.firstName}} {{user.lastName}}" from your user list.
          </p>
          <p>Are you sure?</p>
        </div>
      </div>
      <div class="modal-card-foot">
        <button type="submit" class="button is-danger"> Remove </button>
      </div>
    </form>
  </div>
</div>
